.menu_combo {
  padding: 10px 20px;
  font-size: medium;
}

.menu_container {
  display: flex;
  margin-top: 5px;
}

.menu_item {
  padding: 10px 20px;
  font-size: medium;
  &:hover {
    background-color: darken($color: $moviesDB_Gray1, $amount: 10) !important;
    box-shadow: 1px;
    cursor: pointer;
  }
}

.menu_right {
  margin-left: auto;
}
